@CHARSET "UTF-8";
div.file{
  float: left;
  width: 30%;
  height: 100px;
  margin: 1em;
  padding:5px;
  border: 1px solid black;
}

div.result {
  float: left;
  width: 30%;
  
  margin: 1em;
  padding:5px;
  border: 1px solid black;
	
	
}